<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <ion-title> 
      <ion-row>
        <ion-col size="9">
          <img src="../../assets/icon/logo-white.svg" class="w-17">
        </ion-col>
        <ion-col size="3" class="ion-text-end" style="top: 8px;">
          <ion-icon name="notifications-sharp" ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <ion-select class="ion-no-padding select" interface="action-sheet" [(ngModel)]="powerPayload['facility_id']" (ngModelChange)="getPowerFactor();getConsumption() "  style="font-size: 15px;">
        <ion-select-option *ngFor = "let facility of facilities" [value]="facility.facility_id">{{facility.facility_name}}</ion-select-option>
      </ion-select>
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-row>
    
    <ion-col size="6">
      <ion-card class="meter-container ion-justify-content-center">
        <ion-card-header class="pb-0 ion-no-padding ion-padding-horizontal ">
          <ion-card-subtitle>
            <ion-row class="card-header" class="ion-justify-content-center">
                
                <ion-col size="2" style="font-size: 1rem;">
                  <!-- <ion-icon name="location-sharp"></ion-icon> -->
                  <ion-icon name="person-circle-sharp"></ion-icon>
                </ion-col>

                <ion-col size="10" style="left: 6px;">
                  Harsh Garg
                </ion-col>

            </ion-row>
          </ion-card-subtitle>
        </ion-card-header>       
      </ion-card>
    </ion-col>

    <ion-col size="6">
      <ion-card class="meter-container ion-justify-content-center">
        <ion-card-header class="pb-0 ion-no-padding ion-padding-horizontal">
          <ion-card-subtitle>
            <ion-row class="card-header">
                
                <ion-col size="2">
                  <!-- <ion-icon name="location-sharp"></ion-icon> -->
                  <span class="pulse"></span>

                </ion-col>

                <ion-col size="10">
                  <ion-select class="ion-no-padding select" interface="action-sheet" [(ngModel)]="powerPayload['facility_id']" (ngModelChange)="getPowerFactor();getConsumption() "  style="font-size: 15px;">
                    <ion-select-option *ngFor = "let facility of facilities" [value]="facility.facility_id">{{facility.facility_name}}</ion-select-option>
                  </ion-select>
                </ion-col>

            </ion-row>
          </ion-card-subtitle>
        </ion-card-header>       
      </ion-card>
    </ion-col>
   
    <ion-col size="12" >
      <ion-card class="device-container card-border">
        <ion-card-header class="pb-0 ">
          <ion-card-subtitle class="">
            <ion-row class="card-header">
              <ion-col size="1">
                <ion-icon name="flash-sharp"></ion-icon>
              </ion-col>
              <ion-col size="8">
                <span>Power Factor </span> 
              </ion-col>
              <!-- <ion-col size="1">
                <span class="pulse"></span>

              </ion-col> -->
              <ion-col size="3" class="ion-text-start">
                <!-- <ion-select value="facility.facility_id" class="ion-no-padding select" interface="popover" [(ngModel)]="powerPayload['facility_id']" (ngModelChange)="getPowerFactor()">
                  <ion-select-option *ngFor = "let facility of facilities" value="facility.facility_id">{{facility.facility_name}}</ion-select-option>
                </ion-select> -->
            </ion-col>
            </ion-row>
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content class="ion-text-center ion-justify-content-center ion-align-items-center" *ngIf="showPower">
          <app-circle-graph [chartData]="powerFactor" ></app-circle-graph>
          <ion-row class="ion-justify-content-center ion-align-items-center ion-margin-top">
            <ion-icon name="ellipse-sharp" color="primary"></ion-icon>
            <span class="pl-5" style="font-size: 12px;"> Total Power Factor</span>
          </ion-row>

        </ion-card-content>

        <ion-card-content class="ion-text-center ion-margin-top" *ngIf="!showPower">
          <h3>Data not available.</h3>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12">
      <ion-card class="device-container ion-margin-top card-border2" >
        <ion-card-header>
          <ion-card-subtitle>
            <ion-row class="card-header">
              <ion-col size="1">
                <ion-icon name="stats-chart-sharp"></ion-icon>
              </ion-col>
              <ion-col size="8">
                <span>Consumption</span> 
              </ion-col>
              <!-- <ion-col size="1" class="ion-justify-content-center">
                <span class="pulse"></span>
              </ion-col> -->
              <ion-col size="3" class="ion-text-start">
                <!-- <ion-select  class="ion-no-padding select" interface="action-sheet" [(ngModel)]="consumptionPayload['unit_code']" (ngModelChange)="getConsumption()">
                  <ion-select-option  *ngFor = "let unit of units" [value]="unit.short_name">{{unit.short_name}}</ion-select-option>
                </ion-select> -->

                <ion-select value= "KwH" class="ion-no-padding select" interface="action-sheet" [(ngModel)]="consumptionPayload['unit_code']" (ngModelChange)="getConsumption() "  style="font-size: 15px;">
                  <ion-select-option *ngFor = "let unit of units" [value]="unit.short_name">{{unit.short_name}}</ion-select-option>
                </ion-select>
                
            </ion-col>
            </ion-row>
          </ion-card-subtitle>
        </ion-card-header>
        
        <ion-card-content class="ion-text-center ion-align-items-center" *ngIf = "showConsumption">
          <app-bar-graph [chartData]="chartData" *ngIf="series.length > 0"></app-bar-graph>
          <h3 *ngIf="series.length === 0">Data not available.</h3>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
