<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <img src="../../assets/icon/logo-white.svg" class="w-17">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-color">
  
  <ion-row class=" p-3 ion-padding header-section">
    <ion-row class=" body-section"><span class="heading">Have a Query?</span><span class="footer">We'll be happy to help!</span></ion-row>
  </ion-row>


    <ion-row class="p-3">
      <ion-col size="3" class= "ion-justify-content-center ion-align-items-center">
        <a href="tel:8130065725"><ion-icon class="contact-icons" name="call-sharp"></ion-icon></a> 
      </ion-col>

      <ion-col size="9"> 
        <div class="body mb-1"> <span class="callUs">Call Us<ion-badge class="badge-size ion-margin-start" color="primary" style="vertical-align: baseline;">New</ion-badge></span></div>
        <div class=" phoneNo"> +91 7303422689 </div>
      </ion-col>

    </ion-row>
    
    <ion-row class="p-3">
      <ion-col size="3" class= "ion-justify-content-center ion-align-items-center">
        <ion-icon class="contact-icons" name="mail-open-sharp"></ion-icon>
      </ion-col>

      <ion-col size="9"> 
        <div class=" body callUs">Email us</div>
        <div class=" phoneNo"> harshgarg1808@gmail.com</div>
      </ion-col>

    </ion-row>


</ion-content>
