.h-95{
    height: 95%;
}

.w-17{
    width: 17%;
}

.p-3{
    padding: 2rem;
}

body {
    font-family: 'Karla' !important;
}

/* Contact Us */
.bg-color{
    background-color: #f7f7f7e0;
}

.header-section{
    height: 20vh;
}

.body-section{
    height: 15vh;
}

.heading{
    font-size: 2rem;
    font-weight: 600;

}

.footer{
    font-size: 1.25rem;
    color: #201f1f87;
}

.contact-icons{
    font-size: 2rem;
}

.callUs{
    font-size: 1.25rem;
    font-weight: 600;
}

.phoneNo{
    font-size: 0.9rem;
    color: #3867c1;
}


.badge-size{
    font-size: 0.7rem;
    vertical-align: text-bottom;
}

a{
    background-color: transparent;
    color: #000000;
}