<!-- <ion-header>
  <ion-toolbar>
    <ion-title class="header">
      <img alt="Entes" src="https://www.entes.eu/templates/images/enteslog.png">
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-no-padding">
  <div class="auth-wrapper">
    <div class="d-flex flex-column w-100 mb-auto mt-auto" id="login-form">

        <form name="signinForm" (submit)="login()">
            <div class="text-center sign-text ">Sign In</div>

            <div class="formBlock">
                <span class="forLabel">What’s your email?</span>
                <input type="text" placeholder="Email Address" class=" normalInput " [(ngModel)]="payload['user_name']" name="uname" required>
            </div>
            
            <div class="formBlock">
                <span class="forLabel">Tell us your password</span>
                <input type="password" placeholder="Password" class=" normalInput" [(ngModel)]="payload['pass_word']" name="psw" required>

            </div>
            <button type="submit" class="authButton">Login</button>
        </form>
        
        <button type="button" class="forgotButton">Forgot Password?</button>
    </div>
</div>
</ion-content>
