
<ion-content fullscreen class="ion-padding " scroll-y="false">
  <ion-slides  pager="true" [options]="slideOpts">

    <ion-slide>
      <div class="slide mt-10">
        <img src="../../../assets/icon/factory.jpg"/>
        <h1>Monitor Your Factory</h1>
      </div>
    </ion-slide>
    
    <ion-slide>
      <div class="slide mt-12">
        <img src="../../../assets/icon/factory1.jpg"/>
        <h1>Conserve Energy</h1>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide ">
        <img src="../../../assets/icon/factory2.jpg"/>
        <h1>Be Smart</h1>
      </div>
      <ion-button class= "mt-14" expand="full" (click)= "navigate()"> Get Started <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>

    </ion-slide>
  </ion-slides>
</ion-content>